.operator{
    border:1px solid #DDD;
    position:relative;
    background-color:#FFF;
    border-radius:3px;
    padding:10px 20px;
    margin:10px;
    min-width:250px;
    width:45%;
    display:inline-block;
}

.operator .operatorName{
    font-size:20px;
    text-align:center;
}

.operator .operatorDetails{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;  
}

.operator .operatorDetails .operatorPrefix{
    margin:auto;
}

.operator .operatorDetails .operatorPrice{
   margin:auto;
}
