<div class="operator">
    <div class="operatorName">
        <h3>Operator: <em>{{name}}</em></h3>
    </div>
    <div class="operatorDetails">
        <div class="operatorPrefix">
            <p><strong>Prefix:</strong> {{prefix}}</p>
        </div>
        <div class="operatorPrice">
            <p><strong>Price:</strong> ${{price}}/min</p>
        </div>
    </div>
    <ng-content></ng-content>
</div>