
         <h2 class="text text--state-center">New operator: {{operator.prefix}}</h2>

         <form [formGroup]="operatorForm" class="form" (submit)="onSubmit($event)">

                <div class="formControl">
                    <label for="input-operator-name">Name:</label>
                    <input name="name" id="input-operator-name" formControlName="name" type="text"  class="input" [(ngModel)]="operator.name" autocomplete="off">
                    <span *ngIf="operatorForm.controls.name.invalid && operatorForm.controls.name.touched" class="requiredControl requiredControl--sate-invalid">
                            <i class="icon ion-asterisk"></i>  This field is required
                    </span>
                </div>

                <div class="formControl">
                   <label for="input-operator-prefix">Prefix:</label>
                   <input name="prefix" id="input-operator-prefix" formControlName="prefix" type="number"  class="input" [(ngModel)]="operator.prefix" autocomplete="off">                
                    <span *ngIf="operatorForm.controls.prefix.invalid && operatorForm.controls.prefix.touched" class="requiredControl requiredControl--sate-invalid">
                            <i class="icon ion-asterisk"></i> This field is required
                    </span> 
                </div>

                <div class="formControl">
                    <label for="input-operator-prefix">Price:</label>
                    <input name="price" id="input-operator-price" formControlName="price" type="number" step="0.01"  class="input" [(ngModel)]="operator.price" autocomplete="off">
                    <span *ngIf="operatorForm.controls.price.invalid && operatorForm.controls.price.touched" class="requiredControl requiredControl--sate-invalid">
                            <i class="icon ion-asterisk"></i>  This field is required
                    </span> 
                </div>

                <div class="formControl" *ngIf="operatorForm.valid">
                    <h4 class="text text--state-center">Result:</h4>
                    <div class="flexContainer">
                        <operator [name]="operator.name" [prefix]="operator.prefix" [price]="operator.price"></operator>
                    </div>
                </div>

                <div class="buttonGroup">
                        <a [routerLink]="['']" class="button"> <i class="icon ion-chevron-left"></i>  Back</a>
                        
                        <button type="submit" class="button button--state-primary" [disabled]="operatorForm.invalid">
                            <i class="icon ion-plus-round"></i> Create
                        </button>
                </div>

        </form>