
.component{
    width:100%;
    height:100vh;
    display:block;
    box-sizing: border-box;
    min-width:300px;
}

.header{
    width:100%;
    background-color: #2980b9;
    padding:40px;
    box-sizing: border-box;
    box-shadow:0px -10px 50px #27648a inset;
}

.header h1{
    color:#FFF;
    line-height:40px;
}


.header h3{
    font-size:20px;
    font-weight:lighter;
    font-style:italic;
    color:#FFF;
}

.container{
    padding-top:20px;
    width:100%;
    display:block;
}


@media screen and (min-width: 600px) {
    .container{
        width:60%;
        margin-left:auto;
        margin-right:auto;
    }    
}

@media screen and (min-width: 1200px) {
    .container{
        width:40%;
        margin-left:auto;
        margin-right:auto;
    }    
}