<!--The content below is only a placeholder and can be replaced.-->
<section class="component">
  <header class="header">
    <h1 class="text text--state-center">
      alaTest
    </h1>
    <h3 class="text text--state-center">
      all about reviews
    </h3>
  </header>
  <section class="container">
    <router-outlet></router-outlet>
  </section>
</section>
