
    <h2 class="text text--state-center">Search operators:</h2>

    <form class="form" [formGroup]="operatorListForm">
        <div class="formControl">
            <input name="search" formControlName="search" [(ngModel)]="search" type="text" id="input-search" class="input" placeholder="Type your phone" autocomplete="off">
        </div>
    </form> 

    <ul class="flexContainer">
        <li *ngFor="let operator of operators | cheapestOperatorPrice: search">
            <operator [name]="operator.name" [prefix]="operator.prefix" [price]="operator.price">
                <button type="button" (click)="remove(operator)" class="button button--size-small button--state-danger button--outline  button--footer"> <i class="icon ion-trash-b"></i> Remove</button>
            </operator>
        </li>
    </ul>

    <div *ngIf="(operators | cheapestOperatorPrice: search).length === 0">
            <h5 class="text text--state-center"><em>404 - No operators found.</em></h5>
    </div>

    <div class="buttonGroup">
            <a [routerLink]="['/create']" class="button button--sate-primary block block--state-center">
                <i class="icon ion-plus-round"></i> New Operator
            </a>
    </div>
