
/* 
   RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* TITLES */
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color:#444;
}

h1{
    font-size:40px;
    line-height:80px;
}

h2{
    font-size:36px;
    line-height:72px;
}

h3{
    font-size:28px;
    line-height:56px;
}

h4{
    font-size:24px;
    line-height:48px;
}

h5{
    font-size:20px;
    line-height:40px;
}

h6{
    font-size:16px;
    line-height:32px;
}

h1 em,h2 em,h3 em,h4 em,h5 em,h6 em{
   font-style: italic;
   font-weight:normal;
}


/* PARAGRAPHS */
p{
    color:#444;
}
p strong{
    font-weight:bold;
}


/* TEXT */
.text.text--state-center{
    text-align:center;
}

/* BUTTONS */
.button{
    border:1px solid #DDD;
    position:relative;
    background-color:#FFF;
    border-radius:3px;
    font-size:25px;
    border: 1px solid rgba(0,0,0,.15);
    padding:10px;
    color:#444;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
    box-sizing: border-box;
    -webkit-transition: color ease-in-out .15s,background-color ease-in-out .15s;
    transition: color ease-in-out .15s, background-color ease-in-out .15s;
    -o-transition: color ease-in-out .15s, background-color ease-in-out .15s;
    transition: color ease-in-out .15s, background-color ease-in-out .15s;
    transition: color ease-in-out .15s, background-color ease-in-out .15s, background-color ease-in-out .15s;
}

button:focus{
    outline:none;
}

.button:hover:not([disabled]){
    color:#888;
}

button:disabled,
button[disabled]{
    cursor:not-allowed;
    color:#999;
}

.button.button--state-primary{
    background-color:#2980b9;
    color:#FFF;
}

.button.button--state-primary:hover:not([disabled]){
    background-color:#27648a;
    color:#FFF;
}

button.button--state-primary:disabled,
button.button--state-primary[disabled]{
    cursor:not-allowed;
    color:#FFF;
    background-color:#64a3ca;
}


button.button--state-danger{
    color:#c0392b;
}

button.button--state-danger:hover:not([disabled]){
    color:#c99b98;
}

button.button--outline{
    border:none;
}

button.button--size-small {
    font-size:16px;
}

.button.button--footer{
    width:100%;
    margin-top: 15px;
    padding-top:10px;
    border-top:1px solid #EEE;
    display:block;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;  
    padding:20px;
}

.buttonGroup.button{
    margin:auto;
    align-items: center;  
}


/* FORMS */
.form{
   width:100%;
   padding:10px 20px;
   box-sizing:border-box;
   display:block;
}

.form .formControl{
    margin:10px 10px 20px;
    display:block;
    box-sizing:border-box;
    position:relative;
}

.form .formControl label{
    display:block;
    font-weight:bold;
    font-size:24px;
    font-weight:lighter;
    font-style:italic;
    margin:10px 0px;
}

.form .formControl input{
    display:block;
    width: 100%;
    padding: 8px;
    margin-left: -8px;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form .formControl input:focus{
    outline:none;
    border-color:#27648a;
}

.form .formControl .requiredControl{
    padding: 10px;
    font-size: 15px;
    display: block;
    margin:10px 0px;
}

.form .formControl .requiredControl.requiredControl--sate-invalid{
    color:#c0392b;
    text-shadow:0px 0px 20px rgb(223, 97, 86);
}


/* FLEX CONTAINER */
.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
